[submodule "pack/theme/start/gruvbox"]
	path = pack/theme/start/gruvbox
	url = https://github.com/morhetz/gruvbox
	shallow = true
[submodule "pack/plugin/start/nerdtree"]
	path = pack/plugin/start/nerdtree
	url = https://github.com/preservim/nerdtree
	shallow = true
[submodule "pack/tool/start/ale"]
	path = pack/tool/start/ale
	url = https://github.com/dense-analysis/ale
	shallow = true
[submodule "pack/plugin/start/lightline"]
	path = pack/plugin/start/lightline
	url = https://github.com/itchyny/lightline.vim
	shallow = true
[submodule "pack/tool/start/vim-clang-format"]
	path = pack/tool/start/vim-clang-format
	url = https://github.com/rhysd/vim-clang-format
	shallow = true
[submodule "pack/plugin/start/vim-gitgutter"]
	path = pack/plugin/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
	shallow = true
[submodule "pack/tool/start/fzf.vim"]
	path = pack/tool/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
	shallow = true
[submodule "pack/theme/start/vim-rainbow"]
	path = pack/theme/start/vim-rainbow
	url = https://github.com/frazrepo/vim-rainbow
	shallow = true
